<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.basiclearn">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter10.ServiceActivity"/>
        <activity android:name=".chapter9.DictResolver" />
        <activity android:name="com.example.chapter8.RecogniseActivity" />
        <activity android:name="com.example.chapter8.AddGesture" />
        <activity android:name="com.example.chapter8.GestureFlip" />
        <activity android:name="com.example.chapter8.GestureTest" />
        <activity android:name="com.example.chapter8.Dict" />
        <activity android:name=".SdcardViewActivity" />
        <activity android:name=".ButterFlyActivity" />
        <activity android:name=".MoveBackActivity" />
        <activity android:name=".Texture3DActivity" />
        <activity android:name=".PolygonActivity" />
        <activity android:name=".PinBallActivity" />
        <activity android:name=".HandDrawActivity" />
        <activity
            android:name=".DateChooseActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".MainActivity03" />
        <activity
            android:name=".TabHostTestActivity"
            android:label="查看经典" />
        <activity android:name=".chapter4.ExpandableListActivityTest" />
        <activity android:name=".chapter4.OtherActivity" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/preference" />

        <provider
            android:name=".chapter9.DictProvider"
            android:authorities="com.example.basiclearn.chapter9" />

        <service android:name=".chapter10.FristService">
            <intent-filter>
                <action android:name="com.example.basiclearn.service.FRIST_SERVICE" />
            </intent-filter>
        </service>

        <service android:name=".chapter10.BindService">
            <intent-filter>
                <action android:name="com.example.basiclearn.service.BIND_SERVICE" />
            </intent-filter>
        </service>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ManifestOrder" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>